{% block intro_window %}

<div id="intro-window" style="display: none;">
	<div class="nav-bar">
		<h5>CREATE</h5>                                                 <div class="nav-btns">
			<button>x</button>
			<button>o</button>
			<button>_</button>                                          </div>
	</div>
	<!-- navigaton: features, about, try -->
	<div class="welcome-tabs">
		<div class="tabs">
			<div id="features-tab" class="tab active-tab">
				<h3>// Features</h3>
			</div>
			<div id="about-tab" class="tab">
				<h3>// About</h3>
			</div>
			<div class="tab try">
				<h3>// Try It Out</h3>
			</div>
		</div>

		<!-- features -->
		<div id="features">
			<div class="card">
				<img class="feature-img" src="../static/images/resolution-prev.jpg" alt="feature1">
				<div class="featureimg">
				</div>
				<div class="feature-text">
					<div class="feature-thumb">
						<img src="../static/images/resolution.jpg" alt="res">
					</div>
					<div class="feature-details">
						<h4>RESOLUTION</h4>
						<p>Adjust the quality of your image with the resolution slider.</p>
					</div>
				</div>
				<div class="toggle-btn">+</div>
			</div>

			<div class="card">
				<img class="feature-img" src="../static/images/contrast-prev.jpg" alt="feature1">
				<div class="feature-text">
					<div class="feature-thumb">
						<img src="../static/images/contrast.jpg" alt="feature1">
					</div>
					<div class="feature-details">
						<h4>BLACK & WHITE</h4>
						<p>Remove the colour and shade the image with just the characters.</p>
					</div>
				</div>
				<div class="toggle-btn">+</div>
			</div>

			<div class="card">
				<img class="feature-img" src="../static/images/highlights-prev.jpg" alt="feature1">
				<div class="feature-text">
					<div class="feature-thumb">
						<img src="../static/images/highlights.jpg" alt="feature1">
					</div>
					<div class="feature-details">
						<h4>HIGHLIGHTS</h4>
						<p>Enhance darker images with a white highlight background.</p>
					</div>
				</div>
				<div class="toggle-btn">+</div>
			</div>

			<div class="card">
				<img class="feature-img" src="../static/images/random-prev.jpg" alt="feature1">
				<div class="feature-text">
					<div class="feature-thumb">
						<img src="../static/images/random.jpg" alt="feature1">
					</div>
					<div class="feature-details">
						<h4>RANDOM</h4>
						<p>Retrieve and edit a random image from Unplash!</p>
					</div>
				</div>
				<div class="toggle-btn">+</div>
			</div>

			<div class="card">
				<img class="feature-img" src="../static/images/download-prev.jpg" alt="feature1">
				<div class="feature-text">
					<div class="feature-thumb">
						<img src="../static/images/download.jpg" alt="feature1">
					</div>
					<div class="feature-details">
						<h4>DOWNLOAD</h4>
						<p>Download all your creations to your local storage!</p>
					</div>
				</div>
				<div class="toggle-btn">+</div>
			</div>
		</div>

		<!-- about -->
		<div id="about">
			<div id="about-content">
				<h2>// About the Project</h2>
				<p>Have you ever wondered about the intricate artistry of ASCII images? Imagine harnessing the power of
				technology to transform your favorite images into stunning ASCII art. That's precisely the inspiration
				behind the "PixelCraft: ASCII Wizard" project.</br></br>
				This project isn't just an academic requirement; it's a personal exploration into the world of creative
				coding. As a student at ALX, I was given the opportunity to embark on a captivating journey into the realms of computer graphics, art, and technology. The project timeline was challenging, pushing me to innovate and create something truly remarkable within a specified timeframe.</p></br>


				<h2>// A Mobile Odyssey</h2>
				<p>One of my proudest feats is that I undertook this project entirely on my smartphone. With
				determination and resourcefulness, I transformed my mobile device into a coding studio and a canvas for
				creativity. I find this to be a testament to the power of technology and the commitment to turning any
				circumstance into an opportunity for growth.</p></br>
				<h2>// ALX Portfolio Project</h2>
				<p>This project is not just an assignment; it's a testament to the skills and creativity cultivated
				during my time at ALX. As part of my portfolio, it reflects my dedication to learning, problem-solving, and pushing the boundaries of what's possible with code.</p></br>

				<h2>// Connect with the Creator</h2>
				<p>Want to learn more about the mind behind "PixelCraft: ASCII Wizard"? Feel free to connect with me on
				LinkedIn, explore my GitHub repository, and follow my journey on X:</br>
				- [LinkedIn](Your LinkedIn Profile Link)</br>
				- [GitHub](Your GitHub Profile Link)</br>
				- [Twitter](Your Twitter Profile Link) </p></br>

				<h2>// Explore the Project</h2>
				<p>Try out the project and feel free to improve on the code on my GitHub.</br></br>

			</div>
		</div>
	</div>
</div>

{% endblock intro_window %}
