* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    wdth: 60%;
    heght: 500px;
}

#controls {
    display: flex;
}

#canvas {
    border: 2px solid white;
    width: 100%;
}

#greyscale {
    border: 2px solid white;
    width: 60%;
}
            
#greyscaleLabel {
    width: 35%;
    color: white;
    font-size: 14px;
}
