<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-Edhe">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PixelCraft: ASCII WAND</title>
        <link rel="stylesheet" href="../static/styles/style.css">
    </head>
    <body>
        <div id="container">
            <canvas id="canvas"></canvas>
            
            <input type="file" id="imageInput">
           <div id="controls">
               <label for="greyscale" id="greyscaleLabel">Original Image</label>
			   <input type="range" id="greyscale" name="greyscale" min="1" max="20" value="5">
           </div>
        </div>
        
        <script src="../static/scripts/script.js"></script>
    </body>
</html>
